swagger: '2.0'
info:
  description: WebPOSHost
  version: V1.0
  title: WebPOSHost
  termsOfService: TOS
  contact:
    name: Abhishek M
    url: 'http://www.perseuspay.com'
    email: mukhopadhyay.abhishek@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
host: 'www.perseuspay.com'
basePath: /webposhost/v1p0
tags:
  - name: webposhost
    description: Web POS Host Controller
consumes:
  - application/json
produces:
  - application/json
paths:
  /pos/sale:
    post:
      tags:
        - sale
      summary: Sale Transaction
      operationId: pos.sale
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: apikey
          in: header
          description: apikey
          required: true
          type: string
        - in: body
          name: salerequest
          description: request
          required: true
          schema:
            $ref: '#/definitions/SaleEntity'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaleResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '415':
          description: Invalid Format
        '422':
          description: Incorrect Request
        '500':
          description: Server Error
        '503':
          description: Service Unavailable
      deprecated: false
  /pos/preauth:
    post:
      tags:
        - preauth
      summary: PreAuth Transaction
      operationId: pos.preauth
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: apikey
          in: header
          description: apikey
          required: true
          type: string
        - in: body
          name: salerequest
          description: request
          required: true
          schema:
            $ref: '#/definitions/SaleEntity'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SaleResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '415':
          description: Invalid Format
        '422':
          description: Incorrect Request
        '500':
          description: Server Error
        '503':
          description: Service Unavailable
      deprecated: false
  /pos/preauthcomplete:
    post:
      tags:
        - preauthcomplete
      summary: Pre-Auth Complete
      operationId: pos.preauthcomplete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: apikey
          in: header
          description: apikey
          required: true
          type: string
        - in: body
          name: preauthcompleterequest
          description: request
          required: true
          schema:
            $ref: '#/definitions/PreAuthCompleteEntity'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PreAuthCompleteResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '415':
          description: Invalid Format
        '422':
          description: Incorrect Request
        '500':
          description: Server Error
        '503':
          description: Service Unavailable
      deprecated: false
  /pos/voidreversal:
    post:
      tags:
        - voidreversal
      summary: Void / Reverse
      operationId: pos.voidreversal
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: apikey
          description: apikey
          required: true
          type: string
        - in: body
          name: voidrequest
          description: voidrequest
          required: true
          schema:
            $ref: '#/definitions/TranVoidEntity'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TranVoidResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '415':
          description: Invalid Format
        '422':
          description: Incorrect Request
        '500':
          description: Server Error
        '503':
          description: Service Unavailable
      deprecated: false
definitions:
  SaleEntity:
    type: object
    required:
      - amount_tran
      - batchnr
      - date
      - mid
      - fromaccount
      - posentrymode
      - stan
      - tid
      - time
      - track2
      - transactionid
    properties:
      addlfield:
        type: string
        maxLength: 30
        example: 12345678
        description: Additional Field
      amount_addl:
        type: string
        maxLength: 12
        example: 0
        description: Additional Amount / Cash Amount (minor)
      amount_tran:
        type: string
        minLength: 3
        maxLength: 12
        example: 100
        description: Transaction Amount (minor)
      bankcode:
        type: string
        minLength: 8
        maxLength: 8
        example: BNK00001
        description: Bank Code
      batchnr:
        type: string
        minLength: 1
        maxLength: 6
        example: 1
        description: Transaction Batch Number
      ccy_tran:
        type: string
        minLength: 3
        maxLength: 3
        example: 356
        description: Transaction Currency Code
      date:
        type: string
        minLength: 4
        maxLength: 4
        example: '0327'
        description: Transaction Date (MMDD)
      emv_request:
        type: string
        description: EMV Request Data
      mcc:
        type: string
        minLength: 4
        maxLength: 4
        example: 5732
        description: Merchant Category Code
      mecity:
        type: string
        minLength: 1
        maxLength: 13
        example: NEW DELHI
        description: Merchant City
      mecountry:
        type: string
        minLength: 2
        maxLength: 2
        example: IN
        description: Merchant Country
      mename:
        type: string
        minLength: 1
        maxLength: 23
        example: TEST Merchant
        description: Merchant Name
      merchanttype:
        type: string
        example: S
        description: Merchant Type (Small / Big)
        enum:
          - S
          - B
      mestate:
        type: string
        minLength: 2
        maxLength: 2
        example: DL
        description: Merchant State
      mid:
        type: string
        minLength: 1
        maxLength: 15
        example: 123456789012345
        description: Merchant ID
      fromaccount:
        type: string
        example: '00'
        description: 'From Account (2 digits). 00 - Def 10 - Sav, 20 - Cur, 30 - Crd'
        enum: 
        - '00'
        - '10'
        - '20'
        - '30'
      pinblock:
        type: string
        example: 1234567890ABCDEF
        description: PIN Block
      posentrymode:
        type: string
        example: 901
        description: 'POS Entry Mode. 051 -- EMV, 901 -- Mag, 911 -- Contactless Mag, 071 -- Contactless EMV'
        enum:
          - '901'
          - '911'
          - '051'
          - '071'
      stan:
        type: string
        minLength: 6
        maxLength: 6
        example: 123456
        description: STAN (6 digits)
      tid:
        type: string
        minLength: 1
        maxLength: 8
        example: 12345678
        description: Terminal ID
      time:
        type: string
        minLength: 6
        maxLength: 6
        example: 123400
        description: Transaction Time (HHMMSS)
      track2:
        type: string
        description: Track2 in Encrypted Format
      transactionid:
        type: string
        minLength: 2
        maxLength: 30
        example: 123
        description: Transaction ID
      zipcode:
        type: string
        minLength: 6
        maxLength: 6
        example: 110099
        description: ZIPCode
    title: SaleEntity
    description: Sale Transaction Object
  SaleResponseEntity:
    type: object
    properties:
      amount_tran:
        type: string
        example: 100
        description: Transaction Amount (minor) - Same as request
      authid:
        type: string
        example: UNI000
        description: Authorization ID
      binowner:
        type: string
        example: VISA
        description: BIN Issued By (Scheme)
      cardtype:
        type: string
        example: C
        description: 'Card Type (C - Credit, P - Prepaid, D - Debit etc).'
      date:
        type: string
        example: '0327'
        description: Transaction Date (MMDD) - Same as request
      emv_response:
        type: string
        description: EMV Response Data
      pan:
        type: string
        example: 1234567890123456
        description: Card Number
      rrn:
        type: string
        example: 000123456789
        description: Retrieval Reference Nr (RRN)
      rsp_code:
        type: string
        example: '00'
        description: Response Code
      stan:
        type: string
        example: 123456
        description: STAN (6 digits) - Same as request
      tid:
        type: string
        example: 12345678
        description: Terminal ID - Same as request
      time:
        type: string
        example: 123400
        description: Transaction Time (HHMMSS) - Same as request
      transactionid:
        type: string
        example: 123
        description: Transaction ID - Same as request
    title: SaleResponseEntity
  PreAuthCompleteEntity:
    type: object
    required:
      - amount_tran
      - mid
      - stan
      - tid
      - transactionid
    properties:
      bankcode:
        type: string
        minLength: 8
        maxLength: 8
      amount_tran:
        type: string
        minLength: 3
        maxLength: 12
      stan:
        type: string
        minLength: 6
        maxLength: 6
      time:
        type: string
        minLength: 6
        maxLength: 6
      date:
        type: string
        minLength: 4
        maxLength: 4
      tid:
        type: string
        minLength: 1
        maxLength: 8
      mid:
        type: string
        minLength: 1
        maxLength: 15
      transactionid:
        type: string
        minLength: 2
        maxLength: 30
    title: PreAuthCompleteEntity
  PreAuthCompleteResponseEntity:
    type: object
    properties:
      pan:
        type: string
        minLength: 12
        maxLength: 19
      amount_tran:
        type: string
      stan:
        type: string
      time:
        type: string
      date:
        type: string
      rrn:
        type: string
        minLength: 1
        maxLength: 12
      auth_id:
        type: string
        minLength: 1
        maxLength: 6
      rsp_code:
        type: string
        minLength: 2
        maxLength: 2
      tid:
        type: string
      emv_response:
        type: string
      transactionid:
        type: string
    title: PreAuthCompleteResponseEntity
  TranVoidEntity:
    type: object
    required:
      - mid
      - rsp_code
      - stan
      - tid
      - transactionid
    properties:
      amount_tran:
        type: string
        minLength: 3
        maxLength: 12
      bankcode:
        type: string
        minLength: 8
        maxLength: 8
      date:
        type: string
        minLength: 4
        maxLength: 4
      emv_request:
        type: string
      mid:
        type: string
        minLength: 1
        maxLength: 15
      rsp_code:
        type: string
        minLength: 2
        maxLength: 2
      stan:
        type: string
        minLength: 6
        maxLength: 6
      tid:
        type: string
        minLength: 1
        maxLength: 8
      time:
        type: string
        minLength: 6
        maxLength: 6
      transactionid:
        type: string
        minLength: 2
        maxLength: 30
    title: TranVoidEntity
  TranVoidResponseEntity:
    type: object
    properties:
      amount_tran:
        type: string
      authid:
        type: string
      date:
        type: string
      emv_response:
        type: string
      pan:
        type: string
      rrn:
        type: string
      rsp_code:
        type: string
      stan:
        type: string
      tid:
        type: string
      time:
        type: string
      transactionid:
        type: string
    title: TranVoidResponseEntity